<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RevertMapper">
    <select id="getRevert" resultType="revert" parameterType="map">
        select * from revert
<where>
    <if test="userId!=null">
        userId=#{userId}
    </if>
</where>
        order by date desc
        <if test="page!=null">
            limit #{page},#{limit}
        </if>

    </select>
</mapper>